/**
 * Mixins SCSS File
 */

@mixin cf() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
	*zoom: 1;
}

@mixin cover($type: 'absolute') {
	height:100%;
	left:0;
	position: $type;
	top:0;
	width:100%;
}

@mixin not-touch() {
	@media not all and (orientation:landscape) and (orientation:portrait) {
		@content;
	}
}

@mixin respond-to-min-height($breakpoint) {
	$em: ($breakpoint / 16);
	$unit: 'em';
	@media only screen and (min-height:$breakpoint + $unit) {
		@content;
	}
}

@mixin min-width($w) {
	@media only screen and (min-width: ($w / 16) + em) {
		@content;
	}
}

@mixin max-width($w) {
	@media only screen and (max-width: ($w / 16) + em) {
		@content;
	}
}

@mixin min-height($h) {
	@media only screen and (min-height: ($h / 16) + em) {
		@content;
	}
}

@mixin max-height($h) {
	@media only screen and (max-height: ($h / 16) + em) {
		@content;
	}
}

@mixin min-width-max-width($miw, $maw) {
	@media only screen and (min-width: ($miw / 16) + em) and (max-width: ($maw / 16) + em) {
		@content;
	}
}

@mixin min-width-min-height($w, $h) {
	@media only screen and (min-width: ($w / 16) + em) and (min-height: ($h / 16) + em) {
		@content;
	}
}

@mixin min-width-max-height($w, $h) {
	@media only screen and (min-width: ($w / 16) + em) and (max-height: ($h / 16) + em) {
		@content;
	}
}

@mixin max-width-min-height($w, $h) {
	@media only screen and (max-width: ($w / 16) + em) and (min-height: ($h / 16) + em) {
		@content;
	}
}

@mixin max-width-max-height($w, $h) {
	@media only screen and (max-width: ($w / 16) + em) and (max-height: ($h / 16) + em) {
		@content;
	}
}

@mixin min-height-max-height($mih, $mah) {
	@media only screen and (min-height: ($mih / 16) + em) and (max-height: ($mah / 16) + em) {
		@content;
	}
}



@mixin orientation($o: 'portrait') {
	@media (orientation: $o) {
		@content;
	}
}

@mixin aspect-ratio($x, $y, $type: "max") {
	$query: '';
	@if $type == 'min' {
		$query: 'min-aspect-ratio';
	} @else {
		$query: 'max-aspect-ratio';
	}
	@media ($query: #{$x}/#{$y}) {
		@content;
	}
}